@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: "Montserrat";
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
}

/* SHARED PAGE 1 2 */

.page{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2{
	font-size: 7vmin;
}

h3{
	font-size: 3.5vmin;
}

/* PAGE 1 */

.project-title{
	text-align: center;
	margin: 5% 0 1% 0;
}

.project-window{
	display: flex;
	flex-direction: column;
	width: 85%;
	height: 90%;
	align-self: center;
	background-color: red;
}

.project{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 50%;
	justify-content: space-evenly;
	background-color: green;
}

.thumb{
	width: 100%;
}

img{
	object-fit: contain;
	max-height: 100%;
	max-width: 100%;
}

.project-txt{
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: violet;
}

.project-name{
	font-size: 4.5vmin;
	width: fit-content;
	align-self: center;
	background-color: blue;
}

a{
	text-decoration: none;
	color: black;
}

/* PAGE 2 */

.contact-title{
	margin: 5% 0 3% 0;
}

.person{
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 23%;
	gap: 1%;
	margin: 6% 0 0 0;
}

.contact-info{
	height: 20%;
}

.contact-item{
	height: 100%;
	display: inline-block;
	text-align: center;
}

.contact-txt{
	height: 100%;
	width: 70%;
	display: inline-block;
}

.social-link{
	width: 10%;
	text-align: center;
}

.name{
	height: 10%;
	margin: 0 0 2% 2.2%;
}

.social{
	margin: 4% 0 0 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 1%;
	justify-content: center;
}

.fa-instagram:hover{
	color: rgb(241, 28, 64);
}

.fa-twitter:hover{
	color: rgb(0, 172, 238);
}

.fa-facebook:hover{
	color: rgb(53, 89, 152);
}

.fa-linkedin:hover{
	color: rgb(14, 118, 168);
}

@media (max-width:480px) and (orientation:landscape) {
	.project-title{
		margin: 1% 0 1% 0;
	}

	h2{
		font-size: 5.8vmin;
	}
	
	h3{
		font-size: 2.8vmin;
	}

	.project-window{
		width: 95%;
		background-color: pink;
		flex-direction: row;
	}

	.project{
		height: 100%;
		width: 50%;
	}

	.contact-title{
		margin: 3% 0 3% 0;
	}

	.person{
		width: 70%;
		height: 15%;
		gap: 6%;
		margin: 2% 0 2% 0;
	}

	.name{
		height: auto;
		margin: 0 0 0 2.2%;
	}

	.contact-logo{
		font-size: 3vmin;
	}

	.contact-info{
		font-size: 6vmin;
	}

	.social{
		margin: 6% 0 0 0;
	}
}